@value makerGreen from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  background-color: thistle;
}

.title {
  width: 100%;
  text-align: center;
  color: makerGreen;
  margin-bottom: 1em;
}
